# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VitePress build output
docs/.vitepress/dist/

# Vite cache
docs/.vitepress/cache/

# OS / Editor
.DS_Store
.idea/
.vscode/
